*~
/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
.*.sw[nop]
/.deps
/.dirstamp
/.libs
/AUTHORS
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/INSTALL
/Makefile
/Makefile.in
/TAGS
/_libs
/aclocal.m4
/autom4te.cache
/autoscan.log
/compile
/config.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.lt
/config.status
/config.status.lineno
/config.sub
/configure
/configure.lineno
/configure.scan
/depcomp
/install-sh
/intltool-extract.in
/intltool-merge.in
/intltool-update.in
/libtool
/ltmain.sh
/m4
/missing
/mkinstalldirs
/so_locations
/stamp-h1
/tags
/py-compile
*.tar.xz
*.desktop
*.gresource
*.compiled
*.patch
*.pyc
Makefile
Makefile.in
Makefile.in.in
/po/stamp-it
reddit-is-gtk
*.valid
Makefile.in
/data/reddit-is-gtk.appdata.xml
/data/.sass-cache
/data/style.css.out
/data/style.dark.css.out
/data/style.css.out.map
/debian/autoreconf.*
/debian/files
/debian/reddit-is-gtk.debhelper.log
/debian/reddit-is-gtk.substvars
/__build_prefix
/.pytest_cache/
.coverage
