Source: reddit-is-gtk
Maintainer: samdroid-apps <sam@sam.today>
Section: web
Priority: optional
Standards-Version: 3.9.5
Build-Depends: debhelper (>= 9), dh-autoreconf, intltool (>= 0.28), gettext, libgtk-3-dev (>= 3.10), libglib2.0-dev (>= 2.28), libsoup2.4-dev, python3-arrow, python3-markdown, ruby-sass

Package: reddit-is-gtk
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libc6, libgtk-3-0 (>= 3.10), libglib2.0-0 (>= 2.28), libsoup2.4-1, python3-arrow, python3-markdown
Description: Reddit is GTK
 A simple Reddit client for GNOME, built for touch and mouse.
