.mkd-box > * {
    margin: 3px;
}

.mkd-blockquote {
    border-left: 3px solid grey;
    border-radius: 1px;
}

.mkd-blockcode {
    padding: 3px;
    border-radius: 3px;
    border: 1px solid grey;

    font-family: monospace;
}

.mkd-header {
    margin: 6px;
}

.mkd-header-1,
.mkd-header-2 {
    font-size: 1.5em;
}
.mkd-header-3,
.mkd-header-4 {
    font-size: 1.25em;
}
.mkd-header-6 {
    text-decoration: underline;
}
.mkd-header-1,
.mkd-header-3,
.mkd-header-5 {
    font-weight: bold;
}

.mkd-box > .mkd-listitem {
    margin-top: 0;
    margin-bottom: 0;
}
.mkd-listitem-sub {
    margin-left: 18px;
}

.mkd-table {
    border: 1px solid grey;
}
.mkd-table-cell {
    border: 1px solid grey;
    padding: 3px;
}
.mkd-table-cell-header {
    background: lightgrey;
}
