/* define $dark, based on theme darkness */

$gnome-gray: if($dark, rgb(51, 57, 59), rgb(232, 232, 231));
$popover-bg: if($dark, rgb(57, 63, 63), rgb(232, 232, 231));
$separator: if($dark, rgb(34, 34, 31), rgb(165, 165, 161));
$blue: if($dark, #215D9C, #4a90d9);
$white: if($dark, black, white);
$orange: if($dark, #ce5c00, #f57900);
$purple: if($dark, #5c3566, #75507b);
$green: if($dark, #4e9a06, #73d216);
$red: if($dark, #a40000, #cc0000);

/* Some more Tango colors, used for the comments */
$lightskyblue: if($dark, #0a3050, #daeeff);
$lightplum: if($dark, #371740, #fce0ff);
$lightchameleon: if($dark, #2a5703, #e4ffc7);
$lightchocolate: if($dark, #503000, #faf0d7);
$lightorange: if($dark, #8c3700, #fff0d7);

@mixin button-bg($base-color) {
    &, &:backdrop {
        color: white;
        text-shadow: none;
    }
    background: linear-gradient($base-color, shade($base-color, 0.8));

    &.flat, &:backdrop {
        background: $base-color;
    }
    &:hover {
        background: linear-gradient(lighter($base-color), $base-color);
    }
    &:active, &:checked {
        background: linear-gradient(darker($base-color), $base-color);
    }
    &:disabled {
        background: linear-gradient(darker($base-color), shade($base-color, 0.3));
        color: white;
    }
}

.root-comments-bar, .root-comments-label {
    margin-left: 12px;
}

@keyframes angry-comment {
    from { box-shadow: inset 0 0 20px $red; }
}

.comments-view {
    background: transparent;

    &.first > row {
        padding-left: 12px;
    }

    &:not(.first) > row {
        margin-left: 12px;
    }

    row {
        padding: 0;
    }

    revealer list {
        margin: 0;
    }

    row > box > label {
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 5px;
        border-bottom: none;
    }

    row.angry {
        animation: 0.5s angry-comment ease-out;
    }

    @mixin row($bg) {
        & > row {
            background: $bg;
            transition: background 0.25s linear;
        }

        & > row:focus {
            @if $dark {
                background: darker($bg);
            } @else {
                background: white;
            }
        }

        & > row > box > widget > .post-top-bar.linked > button,
        & > row > box > button {
            @if $dark {
                @include button-bg(lighter($bg));
            } @else {
                @include button-bg(darker($bg));
            }
        }
    }

    &.depth-0 {
        @include row($lightskyblue);
    }

    &.depth-1 {
        @include row($lightplum);
    }

    &.depth-2 {
        @include row($lightchameleon);
    }

    &.depth-3 {
        @include row($lightchocolate);
    }

    &.depth-4 {
        @include row($lightorange);
    }
}

/*
 * (Left) list styling
 */

@keyframes pulse {
    from { box-shadow: inset 0 0 3px $blue; }
    50% { box-shadow: inset 0 0 6px $blue; }
    to { box-shadow: inset 0 0 3px $blue; }
}

@keyframes angry {
    from { box-shadow: inset 0 0 6px $red; }
}


.link-row {
    border-bottom: 1px solid $separator;

    &.read {
        background: $gnome-gray;

        .reply-to-what {
            background: $white;
        }
    }

    &.sticky {
        @if $dark {
            background: darker(darker($green));
        } @else {
            background: lighter(lighter($green));
        }
    }

    &:selected {
        background: $blue;

        button.flat:hover, button.flat:checked, button.flat:active {
            label {
                color: black;
            }
        }

        .reply-to-what {
            background: darker($blue);
        }
    }

    .reply-to-what {
        background: $gnome-gray;
        border-radius: 3px;
        margin-bottom: 5px;
    }

    &:focus {
        box-shadow: inset 0 0 6px $blue;
    }

    &:selected:focus {
        box-shadow: inset 0 0 6px $white;
    }

    &.angry {
        animation: 0.5s angry ease-out;
    }
}

.about-row {
    background: $gnome-gray;
    padding: 0 5px 10px 5px;
}

@mixin label-badge($color) {
    box-shadow: 0 0 3px $color,
                inset 0 0 3px $color;
    background: lighter($color);
    color: white;
    text-shadow: none;
}

button {
    &.fullscreen {
        -gtk-icon-source: -gtk-icontheme('list-add-symbolic');
    }

    &.upvoted label {
        color: $orange;
    }

    &.downvoted label {
        color: $purple;
    }

    label.gilded {
        @include label-badge($orange);
    }

    /*
     * author distinguished colors,
     * made more specific than the comments-view styles
     */
    label {
        border-radius: 3px;
        padding-left: 3px;
        padding-right: 3px;
    }

    label.op {
        @include label-badge($blue);
    }

    label.moderator {
        @include label-badge(darker($green));
    }

    label.admin {
        @include label-badge(lighter($red));
    }

    label.special {
        @include label-badge($purple);
    }

    label.flair {
        border: 1px solid grey;
        color: grey;
    }

    &.expand image {
        transition: 0.2s all linear;
    }
    &.expand:checked image {
        -gtk-icon-transform: rotate(180deg);
    }
}

/* Radio tool buttons are treated separately */
.upvote button:checked {
    color: $orange;
}
.downvote button:checked {
    color: $purple;
}

/*
 * Misc
 */
popover textview {
    margin-bottom: 5px;
}

.error-label {
    color: red;
}

/*
 * SubEntry
 */

popover.subentry-palette {
    padding-left: 0;
    padding-right: 0;
}

popover.subentry-palette label.header {
    padding-left: 6px;
}

popover button.full-width {
    background: $popover-bg;

    margin: 0;
    border: 0;
    border-radius: 0;
    box-shadow: none;

    image {
        transition: 0.2s all linear;
    }

    &:checked {
        background: darker($popover-bg);
        border-top: 1px solid black;
        color: white;

        image {
            -gtk-icon-transform: rotate(-180deg);
        }
    }
    &:hover, &:focus {
        background: lighter($popover-bg);
        outline: none;

        @if $dark == false {
            color: black;
            text-shadow: none;
        }
    }
    &:active {
        background: $blue;
        color: white;
        text-shadow: none;
    }
}

popover revealer {
    button.full-width {
        background: darker($popover-bg);
    }

    box {
        border-bottom: 1px solid black;
    }
}


/* MARKDOWN STYLES */
.mdx-block-blockquote {
    border-left: 3px solid grey;
    padding-left: 6px;
    margin-left: 3px;
}
.mdx-block-code {
    font-family: monospace;
    color: green;
}
.mdx-block > * {
    /* Paragraph spacing */
    margin-top: 6px;
}
.mdx-block > *:first-child {
    margin-top: 0;
}
.mdx-block-ol > *,
.mdx-block-ul > * {
    margin-top: 2px;
}

.mdx-heading {
    font-weight: bolder;
}
.mdx-heading-h1 {
    font-size: 2em;
    margin-top: .67em;
    margin-bottom: .67em;
}
.mdx-heading-h2 {
    font-size: 1.5em;
    margin-top: .75em;
    margin-bottom: .75em;
}
.mdx-heading-h3 {
    font-size: 1.17em;
    margin-top: .83em;
    margin-bottom: .83em;
}
.mdx-heading-h5 {
    font-size: .83em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}
.mdx-heading-h6 {
    font-size: .75em;
    margin-top: 1.67em;
    margin-bottom: 1.67em;
}
