/* define $dark, based on theme darkness */

$gnome-gray: if($dark, rgb(51, 57, 59), rgb(232, 232, 231));
$blue: if($dark, #215D9C, #4a90d9);
$white: if($dark, black, white);
$orange: if($dark, #ce5c00, #f57900);
$purple: if($dark, #5c3566, #75507b);
$green: if($dark, #4e9a06, #73d216);
$red: if($dark, #a40000, #cc0000);

/* Some more Tango colors, used for the comments */
$lightskyblue: if($dark, #0a3050, #daeeff);
$lightplum: if($dark, #371740, #fce0ff);
$lightchameleon: if($dark, #2a5703, #e4ffc7);
$lightchocolate: if($dark, #503000, #faf0d7);
$lightorange: if($dark, #8c3700, #fff0d7);

@mixin button-bg($base-color) {
    &, &:backdrop {
        color: white;
        text-shadow: none;
    }
    background: linear-gradient($base-color, shade($base-color, 0.8));

    &.flat, &:backdrop {
        background: $base-color;
    }
    &:hover {
        background: linear-gradient(lighter($base-color), $base-color);
    }
    &:active, &:checked {
        background: linear-gradient(darker($base-color), $base-color);
    }
    &:disabled {
        background: linear-gradient(darker($base-color), shade($base-color, 0.3));
        color: white;
    }
}

.root-comments-bar, .root-comments-label {
    margin-left: 12px;
}

@keyframes angry-comment {
    from { box-shadow: inset 0 0 20px $red; }
}

.comments-view {
    background: transparent;

    &.first > row {
        padding-left: 12px;
    }

    &:not(.first) > row {
        margin-left: 12px;
    }

    row {
        padding: 0;
    }

    revealer list {
        margin: 0;
    }

    row > box > label {
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 5px;
        border-bottom: none;
    }

    row.angry {
        animation: 0.5s angry-comment ease-out;
    }

    @mixin row($bg) {
        & > row {
            background: $bg;
            transition: background 0.25s linear;
        }

        & > row:focus {
            @if $dark {
                background: lighter($bg);
            } @else {
                background: darker($bg);
            }
        }

        & > row > box > widget > .post-top-bar.linked > button,
        & > row > box > button {
            @if $dark {
                @include button-bg(lighter($bg));
            } @else {
                @include button-bg(darker($bg));
            }
        }
    }

    &.depth-0 {
        @include row($lightskyblue);
    }

    &.depth-1 {
        @include row($lightplum);
    }

    &.depth-2 {
        @include row($lightchameleon);
    }

    &.depth-3 {
        @include row($lightchocolate);
    }

    &.depth-4 {
        @include row($lightorange);
    }
}

/*
 * (Left) list styling
 */

@keyframes pulse {
    from { box-shadow: inset 0 0 3px $blue; }
    50% { box-shadow: inset 0 0 6px $blue; }
    to { box-shadow: inset 0 0 3px $blue; }
}

@keyframes angry {
    from { box-shadow: inset 0 0 6px $red; }
}


.link-row {
    border-bottom: 1px solid black;

    &.read {
        background: $gnome-gray;

        .reply-to-what {
            background: $white;
        }
    }

    &.sticky {
        @if $dark {
            background: darker(darker($green));
        } @else {
            background: lighter(lighter($green));
        }
    }

    &:selected {
        background: $blue;

        button.flat:hover, button.flat:checked, button.flat:active {
            label {
                color: black;
            }
        }

        .reply-to-what {
            background: darker($blue);
        }
    }

    .reply-to-what {
        background: $gnome-gray;
        border-radius: 3px;
        margin-bottom: 5px;
    }

    &:focus {
        box-shadow: inset 0 0 6px $blue;
    }

    &:selected:focus {
        box-shadow: inset 0 0 6px $white;
    }

    &.angry {
        animation: 0.5s angry ease-out;
    }
}

.about-row {
    background: $gnome-gray;
    padding: 0 5px 10px 5px;
}

button {
    &.fullscreen {
        -gtk-icon-source: -gtk-icontheme('list-add-symbolic');
    }

    &.upvoted label {
        color: $orange;
    }

    &.downvoted label {
        color: $purple;
    }

    label.gilded {
        box-shadow: 0 0 5px $orange,
                    inset 0 0 5px $orange;
        background: lighter($orange);
        color: white;
    }

    /*
     * author distinguished colors,
     * made more specific than the comments-view styles
     */
    label {
        border-radius: 3px;
        padding-left: 3px;
        padding-right: 3px;
    }

    &.op label {
        background: $blue;
    }

    &.moderator label {
        background: $green;
    }

    &.admin label {
        background: $red;
    }

    &.special label {
        background: $purple;
    }

    &.expand image {
        transition: 0.2s all linear;
    }
    &.expand:checked image {
        -gtk-icon-transform: rotate(180deg);
    }
}

/*
 * Misc
 */
popover textview {
    margin-bottom: 5px;
}

.error-label {
    color: red;
}
